.padding-standard {
  padding-top: 100px;
}
@font-face {
  font-family: "sangBleu";
  src: url("../fonts/SangBleuEmpire-Regular-WebTrial.woff") format("woff");
}
#sangbleu {
  font-family: "sangBleu";
}
.flow-text {
  line-height: 1.5;
}
p:first-child {
  margin-top: 0px;
}
h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}
@media only screen and (max-width: 450px) {
  h4 {
    font-size: 2rem;
  }
}
.caption {
  font-size: 12px;
}
.captiondg {
  font-size: 15px;
  font-weight: 300;
}
.description {
  color: rgba(212, 212, 212, 0.685);
}
.general-description {
  font-size: 16px;
  font-weight: 300;
}
.underline {
  text-decoration: underline;
}
#hovertext {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: deepskyblue;
  outline: none;
  text-decoration: none;
}
#hovertext:hover {
  color: blue;
  border-bottom: 2px solid currentColor;
}
.bodytext {
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
  margin: 0px;
}
.bodytextwhite {
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
  margin: 0px;
  color: white;
}
.bodytextmid {
  font-size: 24px;
  line-height: 150%;
  font-weight: 300;
}
.bodytextmidwhite {
  font-size: 24px;
  line-height: 150%;
  font-weight: 300;
  color: white;
}
.bodytextmidbold {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}
.bodytextsmall {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
}
.bodytextsmallbold {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.backgroundgap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.specialgap {
  padding-top: 300px;
  padding-bottom: 300px;
}
.generalspacing {
  padding-top: 200px;
}
.doubleprojectspacing {
  padding-top: 100px;
}
.projectspacing {
  padding-top: 50px;
}
.textspacing {
  padding: 20px;
}
.row-spacer {
  padding-top: 20px;
}
.bluebackground {
  background: #adebff;
}
.blackbackground {
  background: #000;
}
.redbackground {
  background: #cf0219;
}
.greybackground {
  background: #ececec;
}
.pinkbackground {
  background: #ff5a5f;
}
.creambackground {
  background: #fff6e6;
}
a {
  cursor: crosshair;
}
html {
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 90%;
  max-width: 1280px;
}
nav {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  height: 75px;
  position: fixed;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px -1px rgba(0, 0, 0, 0.2);
}
nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
}
nav .nav-container .nav-content .tabs {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
nav .nav-container .nav-content .tabs .tab {
  width: 49%;
}
nav .nav-container .nav-content .tabs .tab:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
nav .nav-container .nav-content .tabs #navtext {
  color: black;
}
nav .nav-container .nav-content .tabs #navtext:hover {
  color: gray;
}
nav .nav-container .nav-content .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #000;
  will-change: left, right;
  opacity: 0.1;
}
@media (max-width: 600px) {
  nav .nav-container {
    width: 100%;
  }
  nav .nav-container .nav-content {
    width: 100%;
  }
  nav .nav-container .nav-content .tabs {
    width: 100%;
    margin-left: 0px;
  }
  nav .nav-container .nav-content .indicator {
    width: 50%;
  }
}
.showcase-caption {
  display: none;
}
.showcase-caption-hover {
  position: absolute;
  pointer-events: none;
  z-index: 200;
  white-space: nowrap;
  color: black;
  opacity: 0;
  -webkit-transition: 0.25s opacity;
  transition: 0.25s opacity;
  will-change: opacity;
}
.showcase-caption-hover .showcase-title-hover {
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 640px) {
  .showcase-caption-hover {
    display: none;
  }
  .showcase-caption-hover .showcase-title-hover {
    display: none;
  }
}
.maintextcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.maintextcontainer .maintext {
  width: 90%;
  max-width: 1280px;
  font-size: 5vw;
  font-weight: 300;
  line-height: 110%;
}
@media (min-width: 1280px) {
  .maintextcontainer .maintext {
    font-size: 72px;
  }
}
.container #about {
  padding-top: 100px;
}
@media (max-width: 600px) {
  .container #about {
    padding-top: 100px;
  }
  .container #about .row .abouttextcontainer {
    padding-top: 20px;
  }
}
.row .browser {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.row .browser .browser-image {
  height: 30em;
  overflow-y: scroll;
}
.row .browser .browser-image-large {
  height: 35em;
  overflow-y: scroll;
}
.row .smallerscreens {
  background-color: #2d2d2d;
  border: 1.5px solid #2d2d2d;
  border-radius: 6px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.row .smallerscreens .browser-image-medium {
  height: 25em;
  overflow-y: scroll;
}
.row .smallerscreens .browser-image-small {
  height: 13em;
  overflow-y: scroll;
}
.row .smallerscreens ::-webkit-scrollbar {
  display: none;
}
.row .browser::before {
  content: "...";
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 0.7rem;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
}
.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.row .browser-small {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  width: 48%;
}
.row .browser-small .browser-image {
  height: 30em;
  overflow-y: scroll;
}
.row .browser-small .browser-image-small {
  height: 20em;
  overflow-y: scroll;
}
.row .browser-small::before {
  content: "...";
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 0.7rem;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
}
.fullwidthvideo {
  width: 100%;
}
.arrow {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.arrow-align {
  -ms-flex-item-align: center;
  align-self: center;
}
.arrowdownwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.arrowdown {
  width: 43%;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}
footer .mininav .soc {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .mininav .soc #email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding-right: 8px;
}
@media only screen and (max-width: 400px) {
  footer .mininav .soc #email {
    display: none;
  }
}
footer .footer-copyright,
footer .mininav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
