/* TYPOGRAPHY-------------------------------------------------*/
.flow-text {
  line-height: 1.5; }

p:first-child {
  margin-top: 0px; }

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0; }

@media only screen and (max-width: 450px) {
  h4 {
    font-size: 2rem; } }

.caption {
  font-size: 12px; }

.description {
  color: rgba(212, 212, 212, 0.685); }

.general-description {
  font-size: 15px; }

.underline {
  text-decoration: underline; }

#hovertext {
  transition: color 0.2s ease;
  color: deepskyblue;
  outline: none;
  text-decoration: none; }

#hovertext:hover {
  color: blue;
  text-decoration: underline; }

/* COLOR PALLETTE-------------------------------------------------*/
.padding-standard {
  padding-top: 100px; }

/* Base-------------------------------------------------*/
html {
  font-family: 'Work Sans', sans-serif; }

.container {
  width: 90%;
  max-width: 1280px; }

nav {
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: #00BEFF;
  height: 75px;
  position: fixed; }
  nav .nav-container {
    display: flex;
    align-items: center;
    width: 90%; }
    nav .nav-container .nav-content .tabs {
      width: 350px;
      display: flex;
      justify-content: space-between; }
      nav .nav-container .nav-content .tabs .tab {
        width: 49%; }
      nav .nav-container .nav-content .tabs .tab:hover {
        background-color: rgba(0, 0, 255, 0.075); }
      nav .nav-container .nav-content .tabs .indicator {
        position: absolute;
        bottom: 0;
        height: 50px;
        background-color: whitesmoke;
        will-change: left, right;
        opacity: 0.2; }

@media (max-width: 600px) {
  nav .nav-container {
    width: 100%; }
    nav .nav-container .nav-content {
      width: 100%; }
      nav .nav-container .nav-content .tabs {
        width: 100%;
        margin-left: 0px; }
      nav .nav-container .nav-content .indicator {
        width: 50%; } }

/* Main Text Container -------------------------------------------------*/
.maintextcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px; }
  .maintextcontainer .maintext {
    width: 90%;
    max-width: 1280px;
    font-size: 5vw; }
  .maintextcontainer #seemore {
    transition: color 0.2s ease;
    font-size: 15px;
    color: grey;
    cursor: pointer; }
  .maintextcontainer #seemore:hover {
    color: blue;
    text-decoration: underline; }

/* Portfolio Piece Cards -------------------------------------------------*/
.card {
  margin: 0px; }

/* About Text Container -------------------------------------------------*/
.container #about {
  padding-top: 100px; }

@media (max-width: 600px) {
  .container #about {
    padding-top: 100px; }
    .container #about .row .abouttextcontainer {
      padding-top: 20px; } }

/* Portfolio Piece-------------------------------------------------*/
.row .browser {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  position: relative; }
  .row .browser .browser-image {
    height: 30em;
    overflow-y: scroll; }
  .row .browser .browser-image-small {
    height: 20em;
    overflow-y: scroll; }
  .row .browser .browser-image-large {
    height: 35em;
    overflow-y: scroll; }

.row .browser::before {
  content: '...';
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 0.7rem;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold; }

.centering {
  display: flex;
  justify-content: space-around; }

.row .browser-small {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  width: 48%; }
  .row .browser-small .browser-image {
    height: 30em;
    overflow-y: scroll; }
  .row .browser-small .browser-image-small {
    height: 20em;
    overflow-y: scroll; }

.row .browser-small::before {
  content: '...';
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 0.7rem;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold; }

.fullwidthvideo {
  width: 100%; }

.carousel .carousel-item > img {
  width: auto;
  height: 100%; }

/* Hero-----------------------------*/
/* Image containers--------------------*/
/* Page-Footer-------------------------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }
  footer .mininav .soc {
    height: 50px;
    display: flex;
    align-items: center; }
    footer .mininav .soc #email {
      display: inline-flex;
      margin: 0;
      padding-right: 8px; }
    @media only screen and (max-width: 400px) {
      footer .mininav .soc #email {
        display: none; } }
  footer .footer-copyright,
  footer .mininav {
    display: flex;
    align-items: center; }

@media only screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column; } }

/* IMAGE SPECIFICS*/
