@-ms-viewport {
	width: device-width;
}

/* /BASE/ */

body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	width: 100%;
	background: aliceblue;
}

img {
	width: 100%;
}

li {
	list-style-type: none;
}

a {
	color: #black;
}

/* unvisited link */

a:visited {
	color: black;
}

/* visited link */
/* 
a:hover {
	color: whitesmoke;
} */

/* mouse over link */


/* a:active {
	color: blue;
} */


/* p{
    padding-bottom: 20px;
} */


/* selected link */


/* /LAYOUT/ */


/* Navigation Bar */

#headercontainer {
	height: 100px;
	width: 100%;
	border-bottom: solid;
	border-width: 0.1px;
	display: flex;
	align-items: center;
}

#headernav {
	width: 400px;
	margin-left: 7vw;
	margin-bottom: 2vw;
	margin-top: 2vw;
	display: flex;
	justify-content: space-between;
	position: fixed;
}

#portfolionav {
	cursor: pointer;
}

#aboutnav {
	cursor: pointer;
}

#contact {
	cursor: pointer;
}


/* Footer */

#footercontainer {
	margin-bottom: 2vw;
	margin-top: 2vw;
	border-bottom: solid;
	border-width: 0.1px;
}

#footer {
	height: 100px;
	width: 75%;
	margin-left: 7vw;
	margin-right: 7vw;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.maintext {
	font-size: 4vw;
	margin-left: 7vw;
	margin-right: 7vw;
	padding-top: 2vw;
	margin-bottom: 3vw;
	/* font-style: regular; */
}

.maintextcontainer {
	border-bottom: solid;
	border-width: 0.5px;
}

#seemore {
	font-size: 15px;
	color: grey;
	cursor: pointer;
}

#hovertext {
	transition: color 0.5s ease;
	color: deepskyblue;
	outline: none;
	text-decoration: none;
}

#hovertext:hover {
	color: blue;
	text-decoration: underline;
}

.mininav {
	height: 100%;
	display: flex;
	align-items: center;
}

.soc {
	height: 50px;
	display: flex;
	align-items: center;
}

p,
#email {
	display: inline-flex;
	margin: 0;
	padding-right: 8px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.resume {
	transition: display;
	display: inline-block;
	cursor: pointer;
	transition: color 0.8s ease;
	color: deepskyblue;
}

.resume:hover {
	color: blue;
}

.dropdown-content {
	transition: background-color 0.8s ease;
	background-color: #f9f9f9;
	font-size: 2vw;
	/* display: none;*/
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	position: absolute;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	transition: background-color 0.8s ease;
	background-color: none;
	color: deepskyblue;
	padding: 5px 15px;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

.dropdown-content a:hover {
	background-color: grey;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.descriptionresume {
	color: deepskyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 35px;
	font-size: 1vw;
}


/* //LAYOUT// */


/* //portfolio container grid// */

#portfolio {
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	grid-template-rows: 600px 600px 600px 100px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 100px;
}

#guggy {
	grid-column: 2 /4;
	grid-row: 1;
}

#phonebook {
	grid-column: 2 / 3;
	grid-row: 2;
}

#viewbook {
	grid-column: 3 / 4;
	grid-row: 2;
}

#ooh {
	grid-column: 2 / 4;
	grid-row: 3;
}


/* format for portfolio pieces */

.portfoliopieceformat {
	display: grid;
	grid-template-columns: 0px 1fr 2fr 0px;
	grid-template-rows: 0px 1fr 1fr 0px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	transition: background 0.8s ease;
	background: ghostwhite;
	border: solid;
	border-width: 0.1px;
	cursor: pointer;
}

.portfoliopieceformat:hover {
	background: rgb(161, 224, 245);
}

.description {
	grid-column: 2/3;
	grid-row: 2/3;
}

.portfoliopieceimage {
	grid-column: 3/4;
	grid-row: 2/4;
	background: ghostwhite);
}


/* format for portfolio square pieces */

.portfoliopiecesquareformat {
	display: grid;
	grid-template-columns: 0px 1fr 0px;
	grid-template-rows: 0px 1fr 7fr 0px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	transition: background 0.8s ease;
	background: ghostwhite;
	border: solid;
	border-width: 0.1px;
	cursor: pointer;
}

.portfoliopiecesquareformat:hover {
	background: rgb(161, 224, 245);
}

.portfoliopiecesqaureimage {
	grid-column: 2/3;
	grid-row: 3/4;
	background: ghostwhite);
}


/* portfolio images */

#phonebookimage {
	background-image: url('pages/phonebook/phonebookImages/phonebookhero.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#viewbookimage {
	background-image: url('pages/viewbook/viewbookImages/viewbook.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#oohimage {
	background-image: url('pages/ooh/oohImages/ooh.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#guggyimage {
	background-image: url('pages/guggy/guggyImages/guggy.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


/* /THEMES / TYPOGRAPHY/ FONTS*/

@font-face {
	font-family: SangBleuEmpire-Regular;
	src: url(fonts/SangBleuEmpire-Regular-WebTrial.woff);
}

.sangbleu {
	font-family: SangBleuEmpire-Regular;
}

#h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 24px;
	font-weight: normal;
}

#h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
}

#smalltext {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 20px;
}

.navtext {
	font-size: 20px;
}