@-ms-viewport{
  width: device-width;
}

@font-face {
    font-family: SangBleuEmpire-Regular;
    src: url(fonts/SangBleuEmpire-Regular-WebTrial.woff);
}

#sangbleu{
	font-family: SangBleuEmpire-Regular;
	display: inline-flex;
}

body{
	font-family: 'Work Sans', sans-serif;
	line-height: 5.5vw;
}

.container{
	margin: 1vw;
}

.maintext{
	font-size: 5vw;
	font-style: regular;
}

.maintextcontainer{
	border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}

a{
	transition: color 0.8s ease;
	color: deepskyblue;
	outline: none;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.mininav{
	position: absolute;
	bottom:3vw;
	right:5vw;
	display: inline-flex;
}

p, #email{
	display: inline-flex;
	margin: 0;
	padding-right:8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.resume{
	transition: display;
	display: inline-block;

	cursor: pointer;
	transition: color 0.8s ease;
	color: deepskyblue;
}

.resume:hover{
	color: blue;
}

.dropdown-content {
	transition: background-color 0.8s ease;
	background-color: #f9f9f9;

	font-size: 2vw;

   /* display: none;*/
   	visibility: hidden;
   	opacity: 0;
  	transition: visibility 0s, opacity 0.5s linear;

    position: absolute;   
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	transition: background-color 0.8s ease;
	background-color: none;
    color: deepskyblue;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.dropdown-content a:hover {
	background-color: grey;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
  	opacity: 1;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.descriptionresume{
	color: deepskyblue;
	display: flex;
	align-items: center;
    justify-content: center;
	width: auto;
	height: 25px;
	font-size: 1vw;
}

.gd{
	display: inline-flex;
}

.ctc{
	display: inline-flex;
}

.cycling{
	display: inline-flex;
}

.makingthings{
	display: inline-flex;
}
